.backg {
  background-color: #dedede;
  padding-bottom: 2rem;
  padding-top: 1rem;
}
.container {
  width: 90%;
  margin: auto;
  box-shadow: 1px 1px 3px 1px gray;
  background-color: white;
}
.main {
  display: grid;
  grid-template-columns: 25% 75%;
}
