body{
    font-size: 14px;
    color: #444;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
   
   
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
*{
    box-sizing: border-box;
}
.cont{
    vertical-align: top;
    background-color: #eeeeee;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.leftSide{
    padding: 0px 1px;
    overflow: hidden;
    background: #eee;
}

.heading1{
    color: #555;
    font-size: 22px;
    margin: 15px 0px;
    text-transform: uppercase;
}
.stayList{
    margin: 6px 0;

}
.formGrp{
    margin: 0 0 10px 0px;

}
.inputGrp{
    position: relative;
    display: table;
    border-collapse: separate;
}

.checkInLabel{
    margin: 5px 0;
    font-weight: bold;
    text-shadow: 20px 1px 0 rgb(255 255 255 / 50%);
    display: inline;
    line-height: 1.5;
    max-width: 100%;
    cursor: default;
}
#checkIn, .inputGrp{
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
} 
#checkIn{
    border-radius: 0;
    border: 1px solid #ccc;
    border-bottom: 0 none;
    border-right: 0 none;
    height: 34px;
    width: 98%;
    background: center #fff;
    cursor: pointer;
    display: table-cell;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-right: 5px;
}
.datePickCont{
    display: flex;

}
#checkIn[disabled], #checkIn[readonly]{
    opacity: 1;
}
.calSvgDiv{
     /* width: 34px;  */
     /* height: 34px !important;;  */
    background-color: rgb(238,238,238);
    border: 0.5px solid rgb(204,204,204);
     position: relative;
    font-size: 0;
    white-space: nowrap;
    vertical-align: bottom;
    width: 10%;
    display: table-cell;
    margin-left: 3px;
    /* top: 10px; */
    /* height: 39px; */
    color: #343644;
    right: 5px;
    /* border-top-left-radius: 0;
    border-bottom-left-radius: 0; */
    /* background-color: transparent; */
    height: auto !important;
    margin: 0;
    top: 0px !important;
    padding: 7px;
     /* float: right; */
     /* padding: 3px; */
     /* box-sizing: border-box; */
}
.calIcon{
   /* padding: 5px; */
}
.addIt{
    margin:15px 0;
    display: inline-flex;
    gap: 260px;
}
.addIt > h2{
    font-weight: 700;
    font-size: 14px;
    color: #343644;
    text-shadow: 1px 1px 0 rgb(255 255 255 / 50%);
    margin: 5px 0;
}
.addIt > svg{
    cursor: pointer;
}
.peoples_outer{
  
display: flex;
gap: 5px;
border-bottom: 1px dotted #aaa;
    padding-bottom: 15px;
    margin-bottom: 10px;
    width: 100%;
}
.peoples{
    padding-right: 0px;
    width: 33.333333%;
    /* border: 1px solid yellow; */
}
.peoples_Sel_1{
    border: 1px solid #ccc;
    border-bottom: 0 none;
    border-right: 0 none;
    height: 34px;
    width: 90%;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn{
    background: #541202;
    font-size: 13px;
    border: 0 none;
    color: #ffffff;
    margin: 10px 0;
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
    padding: 6px 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;

}
/* .addIcon{
    top: 16px;
    position: relative;
} */
.promo{
    display: flex;
    margin: 10px 0px;
}
@media only screen and (min-width: 768px){

    .cont{
        width: 100%;
        float: left;
        height: 100%;
    }

}







/****************PACKAGES**************/

.pkgBody{
    box-sizing: border-box;
    width: auto;
    margin: auto;
    max-width: 1020px;
    padding: 96px 32px;
    /* height: 150px; */
}
.pkgBody > img {
    height: 400px;
    width: 100%;
}
.pkgwrt{
    position: relative;
    height: auto;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-family: adobe-garamond-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: -.06px;
    line-height: 1.8em;
    color: rgba(0,0,0,.77);
}

.pkgwrt > h2:nth-child(1){
    text-align:center;
    white-space:pre-wrap;
    margin-top: 0;
    margin: 1em 0 .5em;
}
.pkgwrt p:nth-child(2), .pkgwrt p:nth-child(3), .pkgwrt p:nth-child(4){
    text-align: center;
    white-space: pre-wrap;
    word-wrap: break-word;
}