.container{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
    margin-bottom: 5px;
}
.container>div{
    display: flex;
    align-items: center;
    color: #FFF;
    border-radius: 10px;
    padding: 0 7px;
    font-size: 12px;
    margin: 4px;
    background-color: #541202;
}
.container>div>svg{
    width: 20px;
    margin-right: 4px;
}
.container>div>span{
    margin-left: 4px;
}
.moonIcon>svg{
    transform: scaleX(-1);
}